.green{

    background-color: #E8F6E9;
    padding: 16px 32px 16px 32px;
    border: none;
    width: 300px;
    font-size: 24px;
}

.blue{

    background-color: #E4F2FD;
    padding: 16px 32px 16px 32px;
    border: none;
    width: 300px;
    font-size: 24px;
}