.container{
   width:346px;
   height: 120px;
}

.img{
    height:  200px;
   background-color: #D9D9D9;
}

.title{
    font-size: 24px;
    padding: 8px 24px 0px 24px;

}

.text{
    font-size: 16px;
    padding: 2px 24px 0px 24px;
}