@import "src/styles/mixins";

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 80px 10px 80px;
    box-sizing: border-box;
    align-items: center;
    @include mobile() {
        padding: 0;

    }

}

.number{
    font-weight: 700;
}
.containerText{

    display: flex;
    align-items: center;

    @include mobile() {
        display: none;

    }

}
.text{
    margin-right: 25px;
}

.text2{
    margin-right: 25px;
}